* {
    font-family: "Poppins";
}

body {
    margin: 8px;
    padding: 0;
}

main {
    /* background: red; */
    display: grid;
    min-height: 560px;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr 1fr;
}

#r1c1 {
    display: flex;
    grid-column: 1;
    grid-row: 1;
    flex-direction: column;
}

#r1c1 > label {
    display: block;
    margin: 8px 0 8px;
}

#r1c1 > label > input {
    margin-inline: 8px;
}

#r1c1 > button {
    width: 200px;
    height: 80px;
    margin: 10px;
}

#r1c2 {
    display: flex;
    flex-direction: column;
    grid-row: 1;
    grid-column: 2;
}

#r1c2 p {
    margin: 8px 0;
}

#r2 {
    grid-row: 2;
    grid-column: 1 / -1;
}

#lista {
    box-sizing: border-box;
    /* background: red; */
    display: flex;
    flex-direction: column;
    height: 340px;
    width: fit-content;
    /* text-wrap: wrap; */
    flex-wrap: wrap;
    overflow-x: visible;
    column-gap: 64px;
}