@font-face {
  font-family: Poppins;
  src: url("assets/Poppins-Regular.ttf");
}

:root {
  --bg1: rgb(0 0 0 / .4);
}

body {
  background: #1e1e1e;
  color: #e4e4e4e4;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  font-family: Poppins, system-ui, sans-serif;
  color-scheme: dark light;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 600px;
  /* background: red; */
}

header #erase {
  border: 2px solid;
  height: 40px;
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
}

header #erase:hover {
  color: red;
}

section {
  /* background: brown; */
  position: relative;
  display: grid;
  place-items: center;
  grid-template-columns: minmax(360px, 4fr) minmax(360px, 3fr);
  grid-template-rows: minmax(120px, 1fr) 2fr;
  width: 90%;
  height: 80vh;
  min-height: fit-content;
  border: 2px solid;
  border-radius: 16px;
  overflow: hidden;
}

#resultados {
  /* background: green; */
  display: grid;
  grid-area: 1 / 1;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr; 
  width: 100%;
  height: 100%;
}

#resultados > p {
  /* background: green; */
  height: 83.33px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#resultados > #resultado {
  grid-column: 1 / span 2;
}

#game {
  /* background: rgb(255 255 255 / .2); */
  border-radius: 16px;
  display: flex;
  flex-flow: row wrap;
  height: 240px;
  width: 540px;
  justify-content: space-evenly;
  align-items: center;
  grid-area: 2 / 1;
}

#game > button {
  background: transparent;
  border: 0;
  height: 120px;
  width: 120px;
  border-radius: 16px;
  cursor: pointer;
  font-size: 18px;
  color: white;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 3px solid rgba(0, 40, 200, 0.534);

  &:hover > img {
    scale: 1.1;
  }
}

#game > button > img {
  height: 80%;
  transition: scale .2s ease;
}

#detalles {
  grid-row: 1;
  grid-column: 2;
  
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-auto-flow: column;
  
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* border-style: dashed; */
  border: 0;
  border-top: 0;
  border-right: 0;
  border-radius: 0 0 0 16px;

  background-color: var(--bg1);
}

#detalles * {
  font-size: 14px;
  margin: 0;
}

#detalles > h2 {
  font-size: 16px;
}

#lista-resultados {
  overflow: auto;
  scrollbar-gutter: stable;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 16px;
}

#lista-resultados > article {
  background: var(--bg1);
  display: flex;
  justify-content: space-between;
  min-height: 80px;
  width: 100%;
  border-radius: 20px;
  padding: 8px ;
  overflow: hidden;
  position: relative;
}

#lista-resultados > article * {
  margin: 0;
}

#lista-resultados > article > div {
  /* background-color: rgb(255 255 255 / .1); */
  width: 120px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 2px solid rgb(255 255 255 / .3);
}

#lista-resultados > article > div > #res {
  /* color: orange; */
}

#lista-resultados > article > div > #conteo {

}

/* #lista-resultados > article > div > #conteo {
  width: 80px;
  height: 28px;
  margin: 4px 12px;
  left: 0;
  bottom: 0;
  border-radius: 4px;
  border: 2px solid transparent;
  border-top-color: rgb(255 255 255 / .3);
  display: flex;
  align-items: center;
  padding-inline: 4px;
} */

#lista-resultados > article > #momento {
  /* background: red; */
  width: 100%;
  height: 100%;
  margin: 4px 12px;
}

@media (width <= 1150px) {

}