body {
    background-color: black;
    margin: 0;
    padding: 0;
}

#body-2 {
    background-color: #111;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cuerpo-web {
    margin: 0;
    padding: 0;
    overflow: hidden;
    aspect-ratio: 16/9;
}

@media screen and (aspect-ratio=16/9) {
    #cuerpo-web {
        background: green;
        height: 100%;
    }
}

@media screen and (aspect-ratio>16/9) {
    #cuerpo-web {
        background: cyan;
        height: 100%;
    }
}

@media screen and (aspect-ratio<16/9) {
    #cuerpo-web {
        background-color: red;
        width: 100%;
    }
}