body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

p {
    color: white;
    font-size: 64px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    overflow: visible;
    text-wrap: nowrap;
    opacity: 0;
    animation: animacion3 3.5s ease both;
}

p > span {
    position: relative;
    display: inline-block;
    font-size: 64px;
    font-weight: 600;
    -webkit-text-fill-color: transparent;
    width: max-content;
}

p > span::before {
    content: "madre";
    z-index: -1;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(
        45deg, yellow, chocolate, yellow
        );
    background-clip: text;
    background-size: 800%;
    animation: rotación-de-color 20s linear infinite;
}

@keyframes rotación-de-color {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

p-2 {
    display: inline;
    color: white;
    font-size: 48px;
    font-family: system-ui;
    font-weight: 600;
    overflow: visible;
    text-wrap: nowrap;
    width: 800px;
    margin-right: 80px;
    margin-bottom: 80px;
    opacity: 0;
    animation: animacion3 3.5s ease both;
}

div {
    background: dodgerblue;
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 120px;
    width: 120px;
    overflow: visible;
    border-radius: 500vw;
    align-items: center;
    justify-content: center;
    left: 50%;
    top: -160px;
    transform: translate(-50%, 0);
    animation: animacion 1s ease-in both, animacion2 2s ease both;
    animation-delay: 1s;
    top: 50%;
    transform: translate(-50%, -50%);
}

@keyframes animacion {
    0% {
        top: -160px;
    }

    40% {
        top: 50%;
        transform: translate(-50%, -50%);
    }

    55% {
        top: 35%;
        transform: translate(-50%, -50%);
    }

    60% {
        top: 30%;
        transform: translate(-50%, -50%);
    }

    90% {
        top: 50%;
        transform: translate(-50%, -50%);
        height: 120px;
        width: 120px;
    }
}

@keyframes animacion2 {
    0% {
        height: 120px;
        width: 120px;
    }

    50% {
        height: 120px;
        width: 120px;
    }

    100% {
        height: 1600px;
        width: 1600px;
    }
}

@keyframes animacion3 {
    0%, 70% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}