* {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    padding: 0;
    border: 0;
    margin: 0;
    outline: 0;
}

body {
    /* background-image: url(/Assets-Globales/img/Horarios\ 2024\ guía.jpg); */
    background-repeat: no-repeat;
    background-size: 1600px auto;
    background-position-y: 100px;
}

table {
    height: 100%;
    width: 100%;
    padding: 100px 0;
    border-collapse: collapse;
    border-spacing: 0;
    border: none;
    outline: none;
}

thead {
    width: 100%;
}

tr {
    height: 53px;
    background-color: transparent;
}

th {
    background-color: white;
    width: calc(100% / 6);
    font-size: 30px;
    padding-inline: 8px;
    border: 1px solid gray;
}

.contenido {
    font-size: 32px;
    font-weight: 600;
}

.ingles {
    background-color: orchid;
}

.fisica {
    background-color: lightblue;
}

.electronica {
    background-color: rgb(255, 255, 64);
}

.mates {
    background-color: tomato;
}

.disweb {
    background-color: rgb(87, 218, 87);
}

.geometria {
    background-color: dodgerblue;
}

.programacion {
    background-color: orange;
}

.labredes {
    background-color: lightskyblue;
}

.economia {
    background-color: rgb(252, 252, 128);
}

.apt {
    background-color: rgb(120, 247, 120);
}

.so {
    background-color: rgb(177, 73, 221);
}

.basesdatos {
    background-color: rgba(249, 203, 157);
}

.none {
    background-color: lightgray;
    border: 1px solid gray;
}