:root {
    color-scheme: light dark;
}

* {
    font-family: 'Poppins';
    user-select: none;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 600px;
    background: light-dark(#e4e4e4, #222a);
}

article {
    background: light-dark(#343434, #eee);
    height: 280px;
    width: 260px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border-radius: 16px;
    overflow: hidden;
    padding: 0;
    cursor: pointer;
    position: relative;
}

article:hover {
    box-shadow: 0px 0px 40px rgb(0 0 0 / .2);
}

article:hover  article::after {
    content: "";
    height: 200px;
    width: 500px;
    background: pink;
    z-index: 123;
    position: absolute;
    right: 0;
}

div {
    /* background: blue; */
    min-width: 100%;
    min-height: 200px;
    height: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

img {
    height: 100%;
    transition: scale .3s ease-in-out;
    margin: 0;
    padding: 0;
}

h1, p {
    color: light-dark(white, black);
    padding: 0;
    margin: 0;
    font-size: 14px;
    margin: 2px 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 230px;
}

h1 {
    font-size: 16px;
    margin: 6px;
}