---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
		--color-dark-1: #1c1c1f;
		--color-dark-2: #32323c;
		--color-dark-3: rgb(197, 61, 27);
		--color-light-1: #b4afc5;
		--color-light-2: #ede9fa;
		--color-light-3: rgb(248, 60, 35);
		--color-bg-light: #fff;
		--color-bg-dark: #343434;

		--color-palet1-1: #B3C8CF;
		--color-palet1-2: #BED7DC;
		--color-palet1-3: #F1EEDC;
		--color-palet1-4: #E5DDC5;

		--color-palet2-1: #A79277;
		--color-palet2-2: #D1BB9E;
		--color-palet2-3: #EAD8C0;
		--color-palet2-4: #FFF2E1;

		--br: 32px;
	}
	* {
		font-family: 'Poppins', system-ui, sans-serif;
		user-select: none;
		outline: none;
        box-sizing: border-box;
	}
	html {
		background: var(--color-bp2-4);
		background-size: 224px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}

	body {
		margin: 0;
		padding: 0;
	}


</style>