body {
    background: #111;
    /* Este estilo se está aplicando desde el html */
    font-family: 'Poppins', sans-serif;
}

button {
    background-color: brown;
    display: flex;
    color: #89e;
    border: none;
    border-radius: 20px;
    padding: 20px 30px;
    font-size: large;
    font-weight: 600;
    transition: background-color .1s linear;
    cursor: pointer;
}

button:hover {
    background-color: rgb(185, 62, 62);
}

h1 {
    color: aqua;
    font-size: 48px;
    margin: 90px;
    transition: .3s linear;
    max-width: fit-content;
    cursor: default;

    text-shadow:
        0 0 10px currentColor,
        0 0 30px currentColor,
        0 0 60px currentColor;
}

h1:hover {
    color: darkviolet;
    text-shadow:
        0 0 10px currentColor,
        0 0 30px currentColor,
        0 0 60px currentColor;
}