@font-face {
    font-family: 'NS-UI-Font';
    src: url(../../Assets/Fonts/Nintendo_Switch_UI_Font.ttf);
}

@font-face {
    font-family: 'SFProDisplay-Semibold';
    src: url(../../Assets/Fonts/FontsFree-Net-SFProDisplay-Semibold.ttf);
}

* {
    font-family: 'NS-UI-Font', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    user-select: none;
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    aspect-ratio: 16/9;
    background-size: 1280px 720px;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}

::-webkit-scrollbar {
    background-color: #2d2d2d;
    width: auto;
    height: 2vh;
}

::-webkit-scrollbar-thumb {
    background-color: #4d4d4d;
    border-radius: 20vh;
}

#cuerpo-web {
    background-color: #2d2d2d;
    /* background-color: #111; */
    aspect-ratio: 16/9;
    /* background-image: url(../../Assets/Imgs/M\ UI\ R\ -\ NS\ \(2\).png); */
    background-size: 100%;
    overflow-x: auto;
    background-repeat: no-repeat;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

@media screen and (aspect-ratio>=16/9) {
    #cuerpo-web {
        height: 100%;
    }

    header {
        /* background-color: #f003; */
        height: 11%;
        display: flex;
        align-items: center;
        justify-content: left;
    }

    /* Idle */

    .button {
        /* background-color: #0ff7; */
        height: 58%;
        margin-left: 3.6%;
        aspect-ratio: 1/1;
        /* opacity: .5; */
        border-radius: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .button>img {
        /* background-color: #ff05; */
        height: 100%;
        transition: transform .2s linear;
    }

    .icon>img {
        border-radius: inherit;
    }

    .section:nth-child(2) {
        margin-left: .63%;
        border-inline: .4vh solid #09f;
        /* text-decoration: 4vh solid darkviolet;  No funciona, no tiene texto*/
        border-radius: 20%;
    }

    .section:nth-child(2)>img {
        height: 70%;
    }

    .section {
        margin-left: .3%;
    }

    .section>img {
        height: 60%;
        margin-top: .7%;
        margin-left: .6%;
    }

    .section:nth-child(7) {
        margin-right: .63%;
    }

    .icon:nth-child(8) {
        margin-left: 0;
    }

    .button-p {
        display: none;
        color: white;
    }

    /* Eventos */

    .section:not(:nth-child(2)):hover>img {
        transform: scale(1.2);
    }

    .section:not(:nth-child(2)):focus>img {
        transform: scale(1.2);
    }

    /* Idle */

    .icon:nth-child(9) {
        /* background-color: #f003; */
        margin-left: 20%;
    }

    .icon:nth-child(9)>img {
        height: 78%;
        margin-top: 1%;
        transition: transform .2s linear;
    }

    .linea.vertical:nth-of-type(1) {
        background-color: white;
        height: 50.89%;
        width: .3%;
        margin-left: .6%;
        margin-top: .026%;
    }

    .profile {
        /* background-color: #00f3; */
        margin-left: .5%;
    }

    .profile>img {
        height: 72%;
        transition: transform .2s linear;
    }

    .settings {
        /* background-color: #09f3; */
        margin-left: 0;
    }

    .settings>img {
        height: 72%;
        transition: transform .2s linear;
    }

    .sleep {
        /* background-color: #f0f3; */
        margin-left: 0;
    }

    .sleep>img {
        height: 72%;
        transition: transform .2s linear;
    }

    .time {
        transition: transform .2s linear;
    }

    #time-p {
        /* background-color: violet; */
        display: flex;
        width: max-content;
        margin-left: 7.5%;
        padding: 1%;
        text-wrap: nowrap;
        color: white;
        font-size: 3vh;
        transition: transform .2s linear;
    }

    .wifi {
        /* background: #ff03; */
        margin-left: 1.6%;
    }

    .wifi>img {
        height: 45%;
        transition: transform .2s linear;
    }

    .batery {
        /* background-color: #0ff3; */
        margin-left: .8%;
        display: flex;
        width: 10%;
        border-radius: 0;
        transition: .2s linear;
        overflow: hidden;
    }

    #batery-p {
        color: white;
        font-size: 3vh;
        margin-right: 7%;
    }

    #batery-p::after {
        background-color: red;
        height: 100%;
        width: 100%;
        box-shadow: 0 0 0 20px blue;
    }

    .batery>img {
        height: 45%;
        margin-right: 14%;
        transition: transform .2s linear;
        aspect-ratio: 37.13/20.63;
    }

    /* Events */

    .profile:hover>img,
    .settings:hover>img,
    .sleep:hover>img,
    .wifi:hover>img {
        transform: scale(1.2);
    }

    .time:hover,
    .time:focus,
    .batery:hover,
    .batery:focus {
        transform: scale(1.1);
    }

    .profile:focus>img,
    .settings:focus>img,
    .sleep:focus>img,
    .wifi:focus>img {
        transform: scale(1.2);
    }

    /* Idle */

    .linea.horizontal {
        background-color: white;
        height: .2%;
        width: 95.9%;
        margin-left: 2%;
    }

    /* Idle */

    main {
        /* background-color: #ff03; */
        height: 77.6%;
        display: flex;
        flex-direction: column;
        position: relative;
        overflow: hidden;
        margin-inline: 3.5vh;
    }

    .contenedor-js {
        /* background-color: gray; */
        display: none;
        position: absolute;
        opacity: 0;
        height: 100%;
        width: 25%;
        max-width: 30%;
        aspect-ratio: 2/3;
        top: 50%;
        left: 6%;
        transform: translateY(-50%);
        border-radius: 8%;
        overflow: hidden;
        cursor: default;
    }

    .div-njs {
        display: flex;
        opacity: 1;
        position: absolute;
        /* background-color: red; */
        width: 100%;
        left: 0%;
        top: 2.3%;
        text-wrap: balance;
        overflow-x: scroll;
        justify-content: center;
        align-items: center;
    }

    .div-njs::-webkit-scrollbar-thumb {
        display: none;
    }

    .nombre-js {
        /* background-color: darkviolet; */
        color: #55aad2;
        text-align: center;
        width: 100%;
        font-size: 3.5vh;
    }

    .juego-seleccionado {
        display: flex;
        opacity: 1;
        position: absolute;
        background-color: gray;
        height: 75%;
        aspect-ratio: 2/3;
        top: 54%;
        transform: translateY(-47.2%);
        left: 5%;
        border-radius: 8%;
        overflow: hidden;
        cursor: default;
        transition: all 1s linear;
    }

    .juego-seleccionado::before {
        display: flex;
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: white;
        z-index: 1;
    }

    .juego-selecccionado:hover>.juego-seleccionado::after {
        opacity: 1;
    }

    .juego-seleccionado>img {
        height: 100%;
        width: 100%;
        aspect-ratio: 2/3;
        transition: all 1s linear;
    }

    .ap-js {
        animation: aparicion-juego-seleccionado 1s both;
        display: flex;
        opacity: 1;
    }

    .rm-js {
        animation: remove-juego-seleccionado 1s both;
        display: none;
        opacity: 0;
    }

    @keyframes aparicion-juego-seleccionado {
        0% {
            display: none;
            opacity: 0;
        }

        70% {
            display: none;
            opacity: 0;
        }

        100% {
            display: flex;
            opacity: 1;
        }
    }

    @keyframes remove-juego-seleccionado {
        0% {
            display: flex;
            opacity: 1;
        }

        30% {
            display: none;
            opacity: 0;
        }

        100% {
            display: none;
            opacity: 0;
        }
    }

    #extra-of-game {
        /* background-color: #f0f3; */
        margin-left: auto;
        height: 46%;
        width: 62.5%;
        margin-right: 4.7%;
        /* padding-right: 4.7%; */
        display: flex;
        flex-direction: row-reverse;
    }

    #div-video {
        /* background-color: #0f03; */
        height: 83%;
        width: 53.3%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin-left: auto;
        margin-top: auto;
        cursor: pointer;
        position: relative;
        /* outline: .4vh dashed gray; */
    }

    #div-video>#video-banner {
        height: 100%;
        aspect-ratio: 16/9;
    }

    #div-logo {
        /* background-color: #fff3; */
        width: 46.7%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 5%;
    }
    
    #div-logo>img {
        /* background-color: brown; */
        color: white;
        appearance: none;
        font-size: 4vh;
        max-height: 70%;
        max-width: 80%;
    }

    #contenedor-div-games {
        /* background-color: #f0f3; */
        display: flex;
        /* align-self: flex-start; */
        justify-content: left;
        height: 46%;
        width: fit-content;
        overflow-x: scroll;
        overflow-y: visible;
        margin-top: 4vh;
        margin-inline: 2vw;
        margin-inline: 3.6vh;
        /* margin-left: 30%; */
    }

    #contenedor-div-games::-webkit-scrollbar-thumb {
        cursor: grab;
    }

    #contenedor-div-games::-webkit-scrollbar-thumb:active {
        cursor: grabbing;
    }

    .cdg-animated {
        animation: 2s cdg-animation forwards;
    }

    .cdg-restart {
        animation: 2s cdg-restart forwards;
    }

    @keyframes cdg-animation {
        0% {
            align-self: flex-start;
            width: auto;
        }

        10% {
            align-self: flex-start;
            width: 100%;
        }

        25% {
            align-self: flex-end;
            /* width: 91%; */
        }

        50% {
            width: 60%;
            /* align-self: flex-end; */
        }

        80% {
            align-self: flex-end;
        }

        100% {
            align-self: flex-end;
            width: 60%;

        }
    }

    @keyframes cdg-restart {
        0% {
            align-self: flex-end;
            width: 60%;
        }

        10% {
            align-self: flex-end;
        }

        50% {
            width: 100%;
        }

        80% {
            align-self: flex-start;
        }

        100% {
            align-self: flex-start;
            width: auto;
        }
    }

    #div-games {
        /* background-color: #00f3; */
        height: 100%;
        /* width: 200vw; */
        /* align-self: flex-start; */
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3vw;
        gap: 7vh;
        flex-wrap: nowrap;
        /* margin-inline: 4%; */
        /* padding-inline: 3vw; */
        padding-inline: .5vw;
        padding-inline: .89vh;
        position: relative;
        overflow: visible;
    }

    .game {
        /* background-color: #f007; */
        display: flex;
        height: 95%;
        aspect-ratio: 2/3;
        justify-content: center;
        align-items: center;
        border-radius: 2vh;
        transition: transform .3s ease;
        position: relative;
        overflow: hidden;
        order: 0;
        cursor: default;
    }

    .game:hover {
        cursor: pointer;
        outline: .5vh solid dodgerblue;
    }

    .game>img {
        width: 100%;
        height: 100%;
    }

    .noCover {
        border-radius: 0;
    }

    .noCover>img {
        height: 100%;
    }

    .game-info {
        opacity: 0;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        align-items: center;
        position: absolute;
        height: 100%;
        padding-bottom: 10%;
        gap: 5%;
        transition: .3s ease;
        padding-inline: 5%;
    }

    .game-info::before {
        content: '';
        position: absolute;
        background: linear-gradient(transparent 0%, black 100%);
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        transform: translateY(5%);
    }

    .game-info:hover {
        opacity: 1;
    }

    .game-info>h4 {
        color: white;
        z-index: 1;
        text-wrap: balance;
        font-size: 2.5vh;
    }

    .game-info>img {
        width: 60%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        z-index: 1;
        margin-bottom: 7%;
    }

    .add-game {
        background-color: #111;
        outline: solid #ccc;
        display: flex;
        height: 95%;
        aspect-ratio: 2/3;
        justify-content: center;
        align-items: center;
        border-radius: 2vh;
        transition: transform .3s ease;
        position: relative;
        overflow: hidden;
        order: 999999;
    }

    .add-game {
        opacity: 0;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        align-items: center;
        position: absolute;
        height: 100%;
        padding-bottom: 10%;
        gap: 5%;
        transition: .3s ease;
        padding-inline: 5%;
    }

    .game-info::before {
        content: '';
        position: absolute;
        background: linear-gradient(transparent 0%, black 100%);
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        transform: translateY(5%);
    }

    .add-game>h4 {
        opacity: 1;
        color: white;
        font-size: 1vh;
        transition: .3 ease;
    }

    footer {
        /* background-color: #09f3; */
        display: flex;
        height: 11%;
        align-items: center;
    }

    #controles-conectados {
        /* background-color: #f006; */
        margin-left: 2%;
        width: 9%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #controles-conectados>img {
        height: 80%;
    }

    .accion-botones {
        /* background-color: #09f3; */
        display: flex;
        margin-left: auto;
        margin-right: 3.6%;
        height: 11vh;
        width: 50%;
        justify-content: right;
        align-items: center;
    }

    .accion-botones>button {
        /* background-color: #f003; */
        display: flex;
        align-items: center;
        padding-inline: 3%;
        height: 5vh;
        width: auto;
        gap: 3%;
    }

    .accion-botones>button>img {
        height: 100%;
    }

    .accion-botones>button>p {
        color: white;
        font-size: 2vh;
        text-wrap: nowrap;
    }

    #aviso {
        position: absolute;
        color: white;
        background-color: rgb(0 0 0 / .5);
        font-size: 4vh;
        left: 47%;
        top: 3vh;
        transform: translateX(-50%);
        z-index: 1000;
        text-decoration: none;
    }
}

/* 
    ==============================================================================
    ==============================================================================
    ==============================================================================
    ==============================================================================
    ==============================================================================
*/

@media screen and (aspect-ratio<16/9) {
    
}