* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

* a {
    text-decoration: none;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #18181B;
}

body::-webkit-scrollbar {
    width: .8rem;
}

body::-webkit-scrollbar-track {
    background-color: #000004a0;
}

body::-webkit-scrollbar-thumb {
    background-color: #8884;
}

nav {
    margin: auto;
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    background-color: #00000480;
}

.nav-links {
    margin: 0 auto;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

.link a  {
    color: white;
    transition: all 0.3s ease;
    text-decoration: none;
    padding: 1rem;
    background-color: transparent;
    text-align: center;
    display: flex;
    align-items: center;
    border-radius: 100%;
}

.link a:hover {
    /* color: steelblue; */
    border-radius: 100%;
    background-color: #8884;
    text-align: center;
    padding: 1rem;
}

.link button  {
    color: white;
    transition: all 0.3s ease;
    text-decoration: none;
    padding: 1rem;
    background-color: transparent;
    text-align: center;
    display: flex;
    align-items: center;
    border-radius: 100%;
    cursor: pointer;
}

.link button:hover {
    /* color: steelblue; */
    border-radius: 100%;
    background-color: #8884;
    text-align: center;
    /* padding: 1.3rem;
    margin: -0.3rem; */
}

#search-box {
    background-color: #ccc;
    color: black;
    height: 3rem;
    width: 55rem;
    padding: 1rem;
    font-family: "Poppins";
    border-radius: 20rem;
    padding-left: 2rem;
    font-size: 1rem;
    cursor: not-allowed;
}

#search-box::placeholder {
    color: darkslategray;
    font-family: 'Poppins';
}

.div-secciones {
    background-color: #00000480;
    border-radius: 2rem;
    margin: 3rem;
    padding: 3rem;
}

#titulo-secciones {
    font-family: 'Poppins';
    color: white;
    font-size: 2rem;
    font-weight: 600;
    width: max-content;
    margin: 0 0 2rem 2rem;
    /* padding: .5rem 1rem; */
    /* background-color: orange; */
}

.section-secciones {
    display: flex;
    justify-content: center;
    background-color: transparent;
}

.section-section-secciones {
    justify-content: left;
    margin: 0 auto;
    background-color: #30304480;
    border-radius: 1rem;
    width: 30%;
    height: 20rem;
    transition: .3s ease;
}

.section-section-secciones:hover {
    margin-top: -1rem;
    margin-bottom: 1rem;
    box-shadow: 0 .5rem 1rem black;
}

/* Debo ver un tutorial para mejorar la interfaz. */
.article {
    height: 13rem;
}

.div-img {
    height: auto; /* Esta propiedad debe estar en 'auto'*/
    width: auto;
    background-color: transparent;
    margin: 0;
    padding: 0;
    border-radius: 1rem;
}

img {
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 1rem;
}

.article-info {
    background-color: transparent;
    height: auto;
    padding: .7rem 1rem;
    color: white;
    font-size: .8rem;
}

.article-info-a {
    color: dodgerblue;
    font-size: 1.5rem;
    font-weight: 450;
}

.article-info-a:hover {
    text-decoration: underline;
}

.referencias {
    color: dodgerblue;
    font-size: .8rem;
}

.referencias:hover {
    text-decoration: underline;
}

.article-info-button {
    background-color: red;
    color: yellow;
}

/* ----------------------------------------------------------------------- */

.div-devices {
    background-color: #00000480;
    border-radius: 2rem;
    margin: 3rem;
    padding: 3rem;
}

#titulo-devices {
    color: white;
    margin: 1rem 0 2rem 2rem;
    margin-bottom: 3rem;
}

.section-devices {
    display: block;
    justify-content: left;
    background-color: transparent;
    margin: 0 2vw ;
    border-radius: 4vh;
}

.section {
    background-color: #30304480;
    display: flex;
    margin-bottom: 1rem; /* Esto ajusta la distancia Y entre articulos de 'Dispositivos' */
    border-radius: 4vh;
    transition: .3s ease;
}

.section:hover {
    box-shadow: 0 0 2rem black;
}

.section-article {
    background-color: blue;
    border-radius: inherit;
    height: 10vw;
    width: auto;
    margin: 0;
    padding: 0;
}

.section-article > a {
    background-color: red;
    border-radius: inherit;
    margin: 0;
    padding: 0;
    height: inherit;
}

.section-article > a > .div-img {
    background-color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    width: auto;
    border-radius: inherit;
}

.section-article > a > .div-img > img {
    background-color: inherit;
    height: 100%;
    width: auto;
    border-radius: inherit;
}

.section-article-info {
    background-color: transparent;
    width: 100%;
    display: flex; /* Así queda que 'flex-direction: row', así queda bien*/
    justify-content: left;
}

.div-section-article-info-left {
    /* background-color: hotpink; */
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-section-article-info-left > a {
    font-size: 3rem;
    background-image: linear-gradient(90deg, dodgerblue, violet);
    /* background-image: linear-gradient(90deg, blue, red); */
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.p-section-article-info {
    /* background-color: red; */
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10vh;
    color: gray;
}

.div-section-article-info-right {
    /* background-color: purple; */
    width: auto;
    margin: auto;
    margin-left: 2rem;
}

.div-section-article-info-right > a {
    color: orange;
    text-decoration: underline;
    display: flex;
    font-size: 1.3rem;
}

.div-section-article-info-right > p {
    color: white;
}




/*
.secciones-div {
    border-radius: 1rem;
    height: 14rem;
    width: auto;
    background-color: blueviolet;
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
}

.secciones-div img {
    display: block;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    border-radius: inherit;
}

.section-secciones article .article-a-name {
    color: white;
}

.section-secciones article a {
    color: dodgerblue;
} */






/* * {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: flex;
}

a {
    text-decoration: none;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #18181B;
}

nav {
    max-width: 1200px;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.nav-logo {
    max-width: 8rem;
}
 
.nav-links {
    margin: 0 auto;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.link a{
    color: white;
    transition: all 0.3s ease;
    text-decoration: none;
    padding: 1rem 2rem;
    /* background-color: red; */
    /* text-decoration-thickness: 0.1rem; */
    /* border: solid red 0.2rem;
    padding: 1rem;
    border-radius: 0.5rem; 
}

.link a:hover {
    color: steelblue;
    border-radius: 0.5rem;
    background-color: #0005;
    /* border-width: 10px;
    border-style: solid;
    border-color: red; */

    /*  1rem === 1rem 1rem 1rem 1rem. [arriba] [derecha] [abajo] [izquierda].
        Altura = 1rem (padding-top) + 1rem (font-size) + 1rem (padding-bottom).
        Ancho igual pero con izquierda y derecha. 
}

#search-box {
    background-color: #ccc;
    color: black;
    height: 2.5rem;
    width: 30rem;
    padding: 1rem;
    font-family: "Poppins";
    border-radius: 0.5rem;
}

#search-box::placeholder {
    color: darkslategray;
    font-family: 'Poppins';
}



.div-secciones {
    margin: 2rem;
    margin-top: 0;
    padding: 1.5rem 1.5rem;
    background-color: #222;
    border-radius: 1rem;
    color: white;
}

section {
    height: auto;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
} */














/* .article-1 {
    display: inline-block;
    box-shadow: 0 0 1rem #ccc4;
    border-radius: 1rem;
    padding: 1rem 1.5rem; 
    height: 15rem;
    max-height: 20rem;
    width: 31%;
    margin: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    transition-timing-function: ease-out;
    transition-duration: 200ms;
}

.article-1:hover {
    box-shadow: 0 0 1rem #a3c;
}

.article-1 div {
    height: 80%;
    width: 60%;
}

.article-1 div img {
    height: auto;
}

.article-2 {
    display: inline-block;
    box-shadow: 0 0 1rem #ccc4;
    border-radius: 1rem;
    padding: 1rem 1.5rem;
    height: 15rem;
    max-height: 20rem;
    width: 31%;
    margin: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    transition-timing-function: ease-out;
    transition-duration: 200ms;
}

.article-3 {
    display: inline-block;
    box-shadow: 0 0 1rem #ccc4;
    border-radius: 1rem;
    padding: 1rem 1.5rem;
    height: 15rem;
    max-height: 20rem;
    width: 31%;
    margin: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    transition-timing-function: ease-out;
    transition-duration: 200ms;
} */