* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #333;
    /* El estilo de background-color está establecido en el HTML */
    font-size: 16px;
    margin: 0;
    padding: 0;
}

ul {
    background-color: #343434;
    box-sizing: content-box;
    list-style-type: none;
    display: flex;
    width: 100%;
    height: 70px;
    margin-bottom: 40px;
    padding: 8px 0 5px 0;
    /* border-bottom: 2px solid black; */
}

li {
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.3%;
    width: calc(100% / 3);
    height: 100%;
}

li:first-child {
    /* background-color: blue; */
    justify-content: left;
    padding-left: 60px;
    gap: 40px;
}

li:first-child>a {
    box-sizing: content-box;
    /* background-color: purple; */
    color: white;
    border: none;
    border-radius: 20px;
    box-sizing: content-box;
    align-items: center;
    text-decoration: none;
    display: grid;
    place-content: center;
    padding: 8px;
}

li:first-child>a:hover {
    background-color: #fff2;
}

li:nth-child(2)>input[type="input"] {
    box-sizing: content-box;
    height: 30px;
    width: 100%;
    border: none;
    border-radius: 20px;
    padding: 5px 20px;
    background-color: #e4e4e4;
    color: black;
    font-size: 14px;
    overflow: auto;
    text-overflow: ellipsis;
    padding-right: 60px;
}

li:nth-child(2)>input[type="input"]:focus {
    outline: 2px solid rgb(49, 49, 194);
}

li:last-child {
    display: grid;
    place-content: center;
    position: relative;
}

#add-element {
    display: flex;
    align-items: center;
    position: relative;
    height: 40px;
    width: fit-content;
    border-radius: 20px;
    border: none;
    padding: 10px 20px;
    background-color: orange;
    color: white;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
}


.tooltip-text {
    background-color: #222;
    outline: 1px solid gray;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 30%);
    width: 200px;
    height: fit-content;
    text-wrap: balance;
    font-size: 14px;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    transition: opacity .3s;
    cursor: default;
}

#add-element:hover .tooltip-text {
    opacity: 1;
    visibility: visible;
}

#menu-of-add-element {
    box-sizing: content-box;
    background-color: #333;
    outline: 3px solid gray;
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    display: grid;
    place-content: center;
    opacity: 0;
    visibility: hidden;
}

#add-element:hover #menu-of-add-element {
    opacity: 1;
    visibility: visible;
}

#menu-of-add-element>li {
    position: relative;
    height: 100%;
    width: 100%;
    list-style: none;
}

#file-selector {
    color: white;
    display: inline;
    -webkit-text-fill-color: transparent;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 167px;
}

#file-selector::-webkit-file-upload-button {
    box-sizing: content-box;
    background-color: rgb(255, 0, 100);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 12px;
    font-size: 14px;
    font-weight: 600;
    -webkit-text-fill-color: white;
    cursor: pointer;
}