* {
    margin: 0;
    padding: 0;
    background: transparent;
    font-family: 'Ubuntu';
    font-size: 2vh;
}

body {
    /* background-color: dodgerblue; */
    background-image: url(/Assets-Globales/img/fondo-pantalla-ubuntu.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 100%;
    aspect-ratio: 16/9;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#dock-bar-top {
    background-color: rgb(32 32 32 / 1);
    height: 3vh;
    display: flex;
    align-items: center;
}

#dock-bar-top>p {
    /* background-color: red; */
    color: white;
    padding-left: .5%;
}

#current_date {
    color: white;
    text-align: center;
    position: absolute;
    width: 100%;
}

#dock-bar-apps {
    background-color: rgb(16 16 16 / 0.4);
    height: 100vh;
    width: 5vw;
    display: grid;
    padding-top: 4vh;
    animation: caida 5s infinite;
    transform-origin: bottom;
}

#icon {
    height: 6vh;
    width: auto;
    display: flex;
    margin: 0 auto;
}

img {
    height: 100%;
    width: 100%;
}

@keyframes caida {
    0% {
        transform: rotateZ(0);
    }

    33% {
        transform: rotate(90deg);
    }

    66% {
        transform: translateY(-50vh);
    }

    99% {
        transform: translateX(-6vw);
    }
}

@keyframes rotz {
    0% {
        transform: rotateZ(0);
    }
}