* {
    font-family: 'Poppins', sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #26222f;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL'0,
        'wght'400,
        'GRAD'0,
        'opsz'24;
    transition: .3s linear;
    color: white;
    cursor: pointer;
}

.material-symbols-outlined:hover {
    font-variation-settings:
        'FILL'1,
        'wght'400,
        'GRAD'0,
        'opsz'24;
    transition: .3s linear;
}

.navbar {
    /* background-color: tomato; */
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
    height: 60px;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}

.left {
    /* background-color: brown; */
    position: absolute;
    left: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.left ul {
    display: flex;
    margin: 0;
    gap: 30px;
    list-style: none;
    height: 100%;
    align-items: center;
}

.inicio a {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

#add-element {
    background-color: rgb(62, 42, 78);
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 16px;
    margin-left: 20px;
    text-align: center;
    cursor: pointer;
    background-position: center;
    transition: all .3s linear;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 30px;
}

.center input {
    background-color: rgb(53, 38, 88);
    color: white;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px 20px;
    height: auto;
    width: 400px;
}

.center input::placeholder {
    color: darkgray;
}

.center input::-webkit-search-cancel-button {
    display: none;
}

.center #search-symbol {
    color: white;
    position: absolute;
    margin-left: 330px;
}

.center li {
    display: inherit;
    align-items: center;
}

.right {
    /* background-color: bisque; */
    position: absolute;
    right: 0;
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.right ul {
    display: flex;
    margin: 0;
    gap: 30px;
    list-style: none;
    align-items: center;
}

.right li,
.right li>label {
    display: flex;
    align-items: center;
}

#theme-selector {
    background-color: rgb(62, 42, 78);
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 16px;
    margin-left: 20px;
    text-align: left;
    cursor: pointer;
    border-right: 8px solid transparent;
}

.config {
    background-color: transparent;
    border: none;
    border-radius: 20px;
}

main {
    position: relative;
    height: 100%;
    padding: 0;
    margin: 0;
    vertical-align: top;
}

.menu-left {
    background-color: aqua;
    z-index: 2;
    
}